{% extends "base.html" %}

{% block head%}
<link href="/static/css/datatables.min.css" rel="stylesheet"/>
{% endblock%}

{% block title %}
<h2>Clients</h2>
{% endblock %}

{% block page_actions %}
<a href="/clients/new" class="btn btn-info btn-fill btn-sm">New Client</a>
{% endblock %}

{% block body%}
<div class="row">
<div class="col-md-12">
<div class="card card-plain">
<div class="content table-responsive table-full-width">
    <table class="table table-hover card" id="datatable">
    <thead>
        <th width="35%">Client Name</th>
        <th width="20%">GSTIN</th>
        <th width="20%">State</th>
        <th width="15%">Debit</th>
    	<th width="5%">Bills</th>
        <th width="5%">&nbsp;</th>
        
    </thead>
    <tbody>
    {% for client in clients%}
        <tr>
        	<td>{{client.name|title}}</td>
        	<td>{{client.gstin}}</td>
            <td>{{client.state}}</td>
            <td>{{client.current_debit_balance}}</td>
            <td>{{client.active_bill_count}}</td>
            <td>
                <div class="row-actions">
                    <a href="/clients/{{client.id}}" title="Open client"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
                    {% if firm.show_client_delete_button %}
                    <form method="post" action="/clients/{{client.id}}/delete" onsubmit="return confirm('Delete this client? This will also remove linked invoices and payments from the system. Continue?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link btn-xs" style="color:#d9534f;padding:0 0 0 8px;" title="Delete client">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
</div>
</div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/jquery.datatables.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
    $("#sidebar .clients")[0].className += " active";
    $('#datatable').DataTable({
        paging: false,
        dom: 'frtiBp',
        buttons: [{
            extend: 'csv',
            text: 'Export to Excel',
            exportOptions : {
                columns : [0,1,2,3,4]
            },
        }],
        
        scrollY: '60vh',
        "scrollCollapse": true,
        "order" : [[3,'dsc']],
        "columnDefs": [
            {"targets": 5, "orderable": false},
        ],
    });
});
</script>
{% endblock %}
