{% extends "base.html" %}

{% block head %}
<style>
card-blue {background-color:lightskyblue;}
tfoot tr td {border: 0px!important;}
.imp {border:2px solid black!important;}
h1,h2,h3,h4,h5,h6 { margin:5px 10px; }
</style>
{% endblock %}

{% block title %}
<h2>Invoice</h2>
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-12">
<section>
<div class="card {% if invoice.is_cleared %}card-blue{% endif %}">  
    <div class="content">
        <div class="row">
            <div class="col-md-4"><h3><span class="title">Invoice No : </span>{{invoice.display_invoice_number}}</h3></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"><h3><span class="title">Date : </span>{{invoice.printable_date}}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-6"><h2>{{invoice.client.name}}</h2></div>
        </div>
        <div class="row">
            <div class="col-md-7"><h5 class="title">&nbsp;&nbsp;&nbsp;{{invoice.client.address|title}}</h5></div>
            <div class="col-md-4 col-md-offset-1"><h5>Date of Supply : {{invoice.printable_date_of_supply}}</h5></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h5><span class="title">Mobile : </span>{{invoice.client.mobile}}</h5>
                <h5><span class="title">GSTIN  : </span>{{invoice.client.gstin}}</h5>
                <h5><span class="title">State  : </span>{{invoice.client.state_code}} - {{invoice.client.state}}</h5>
                <h5><span class="title">Agent : </span>{{invoice.agent}}</h5>
            </div>
            <div class="col-md-4 pull-right">
                <h5><span class="title">Place of Supply : </span>{{invoice.place_of_supply}}</h5>
                <h5><span class="title">Transport Mode : </span>{{invoice.transport_mode}}</h5>
                <h5><span class="title">Vehicle Number : </span>{{invoice.vehicle_number}}</h5>
                {% if invoice.is_cleared %}
                <h3 class="text-info"><span class="title">Status : </span>CLEARED
                    <i class="fa fa-check-square-o ajaxbutton" data-href="/api/invoices/{{invoice.id}}"></i>
                </h3>
                {% else %}
                <h3 class="text-danger"><span class="title">Status : </span>PENDING
                    <i class="fa fa-square-o ajaxbutton" data-href="/api/invoices/{{invoice.id}}"></i>
                </h3>
                {% endif %}
            </div>
        </div>            
    </div>
</div>
</section>
<section>
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="content table-responsive table-full-width">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in invoice.item_set.all %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.size}}</td>
                    <td>{{item.qty}} Pcs</td>
                    <td>{{item.rate}}</td>
                    <td>{{item.amount}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>QTY TOTAL</td>
                    <td><b>{{invoice.qty_total}} Pcs</b></td>
                    <td></td>
                {% if invoice.discount > 0 %}
                    <td>{{invoice.before_discount}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" style="text-align:right">Discount @ <b>{{invoice.discount}}%</b></td>
                    <td>{{invoice.discount_value}}</td>
                </tr>
                {% else %}
                    <td>{{invoice.total_before_tax}}</td>
                </tr>
                {% endif %}
                <tr class="imp">
                    <td colspan="4"></td>
                    <td class="imp" style="text-align:right;">Sub Total :</td>
                    <td style="text-align:right;">{{invoice.total_before_tax}}</td>
                </tr>
                </tbody>
                {% if invoice.is_taxable %}
                <tfoot>
                <tr>
                    <td></td><td></td><td></td>
                    <td class="imp">CGST</td>
                    <td class="imp" style="text-align:right;">{{invoice.cgst}}%</td>
                    <td class="imp" style="text-align:right;">{{invoice.cgst_value}}</td>
                </tr>
                <tr>
                    <td></td><td></td><td></td>
                    <td class="imp">SGST</td>
                    <td class="imp" style="text-align:right;">{{invoice.sgst}}%</td>
                    <td class="imp" style="text-align:right;">{{invoice.sgst_value}}</td>
                </tr>
                <tr>
                    <td></td><td></td><td></td>
                    <td class="imp">IGST</td>
                    <td class="imp" style="text-align:right;">{{invoice.igst}}%</td>
                    <td class="imp" style="text-align:right;">{{invoice.igst_value}}</td>
                </tr>
                <tr class="imp">
                    <td colspan="4">{{invoice.total_after_tax_words}}</td>
                    <td class="imp">Grand Total</td>
                    <td class="imp" style="text-align:right;">{{invoice.total_after_tax}}</td>
                </tr>
                </tfoot>
                {% else %}
                <tfoot>
                <tr class="imp">
                    <td colspan="4">{{invoice.total_after_tax_words}}</td>
                    <td class="imp">Grand Total</td>
                    <td class="imp" style="text-align:right;">{{invoice.total_after_tax}}</td>
                </tr>
                </tfoot>
                {% endif %}
            </table>
            </div>
        </div>
    </div>    
</section>
{% if firm.invoice_terms or firm.invoice_footer %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="content">
                <h4 style="margin-top:0;">Terms &amp; Conditions</h4>
                <div>{{ firm.invoice_terms|default:firm.invoice_footer|linebreaksbr }}</div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="action-bar">
    <button class="btn btn-fill btn-info" onclick="Popup()">Print Invoice</button>
    <a href="/payments/new" class="btn btn-fill btn-warning">Add Payment</a>
    <a href="/invoices/{{invoice.id}}/edit" class="btn btn-fill btn-warning">Edit Invoice</a>
    <form method="post" action="/invoices/{{invoice.id}}/delete" style="display:inline;" onsubmit="return confirm('This will permanently hide the invoice from active lists and roll back the client balance. Continue?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-fill btn-danger">Delete Invoice</button>
    </form>
    <a href="/clients/{{invoice.client.id}}" class="btn btn-fill btn-info">Goto Client Ledger</a>
</div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
$("#sidebar .invoices")[0].className += " active";
$('.ajaxbutton').on('click' , function(x) {
    url = x.target.dataset.href;
    $.ajax({ 
        url:url,
        type:'get',
        success : function() {
            location.reload();
        },
        failure : function() {},
    }) 
});
function Popup() {
    var mywindow = window.open('/invoices/{{invoice.id}}/print', 'print_invoice', 'height=700,width=1200');
    if (mywindow) { mywindow.focus(); }
    return true;
}
</script>
{% endblock %}
