{% extends "base.html" %}

{% block head%}
<style>
tfoot tr td {border: 0px!important;}
.imp {border:2px solid black;}
</style>
{% endblock%}
{% block title %}
<h2>Payment</h2>
{% endblock %}

{% block body %}
<div class="row">
<br>
<div class="col-md-12">
<section>
<div class="card">  
    <div class="content">
        <div class="row">
            <div class="col-md-10">  <h3>Date : {{payment.printable_date}}</h3> </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <h2>{{payment.client.name}}</h2>
                <h5>{{payment.client.address}}</h5>
                <h5>{{payment.client.mobile}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">  <h3>Amount Paid : {{payment.paid_amount}}</h3>
        </div>
    </div>
</div>
</section>
<div class="action-bar">
    <a href="/payments/{{payment.id}}/edit" class="btn btn-fill btn-info">Edit Payment</a>
    {% if firm.show_payment_delete_button %}
    <form method="post" action="/payments/{{payment.id}}/delete" style="display:inline;" onsubmit="return confirm('This will permanently hide the payment from active lists and roll back the client balance. Continue?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-fill btn-danger">Delete Payment</button>
    </form>
    {% endif %}
    <a href="/clients/{{payment.client.id}}" class="btn btn-fill btn-info">Goto Client Ledger</a>
</div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
$("#sidebar .payments")[0].className += " active";
</script>
{% endblock %}
